<link rel="stylesheet" href="https://dl.dropboxusercontent.com/u/43615815/CSS/bootstrap.css"> 

<style>
  body {}
  h1   {}
  p    {}
  #content{ padding: 20px; margin: 10px; }
</style>

<div id="content">
<h2>About</h2>
<p>
Typical practice of a working psychiatrist includes individual or group therapy to further understand what is behind certain behavior. When a psychiatrist is in therapy their patients, it can be very useful to be able to map actions, emotions, that typically leads to this behavior. The Family Mapping Project is a software solution to aid in the mapping of actions and emotions. The psychiatrist we are working with directly is Dr. Mike Liepman, though the software is designed to be used by any certified psychiatrist, therapist, or psychologist.
</p>
<p>So we developed a family interactive map program for the esteemed medical professional Dr. Liepman. This program would be used to help those with a history of substance abuse recognize patterns that lead to their abuse.</p>
<p>
The Family interactive map is an interactive tool designed to help victims of substance abuse. In the map, different shapes represent different states or actions. For example, rectangles represent thoughts or perceptions, diamonds represent feelings, and ovals represent actions and behaviors. Arrows are used to show the sequence of events, allowing the user to follow the actions or thoughts from one to another. As well, the map contains a line in the center. This line represents the crossover point between being clean and abusing substances. Any action or thought below the line is one that was made under the influence of a substance. By tracing the thoughts and actions of individuals or families, the professional can help families break out of cycles of substance abuse.

</p>
</div>